<header>
    <nav class="navbar navbar-light bg-light">
        <div class="align-items-center">
            <a class="navbar-brand ps-4" href="#">
                <img src="../../assets/logo-lccv.png" alt="logo" width="55" class="d-inline-block">
            </a>
            <a class="navbar-brand col-md-0 col-lg-2 me-0 px-1 display-6 text-uppercase" href="#">LCCV</a>
            <div class="vr mx-1 mb-1 align-middle" style="height: 25px;"></div>
            <a class="navbar-brand col-md-0 col-lg-2 me-0 px-1 display-6" href="#">Sumé Software</a>
        </div>
      </nav>
</header>