<nav id="sidebarMenu" class="d-md-block sidebar collapse">
  <div class="insideNav py-0 px-0 text-uppercase fw-bold">
    <ul class="nav flex-column"> 
      <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" routerLink="/home" routerLinkActive="active">
          <span data-feather="home"></span>
          Patrimônio
        </a>
      </li>
      <hr class="pa-0 my-0"/>
      <li class="nav-item">
        <accordion [isAnimated]="true">
          <accordion-group #group>
            <span accordion-heading>
              Bens ▼ 
              <i class="bi bi-caret-down"></i>
            </span>
            <a class="list-group-item list-group-item-action" routerLink="/cadastrar" routerLinkActive="active">
              Cadastrar
            </a>
            <a class="list-group-item list-group-item-action" routerLink="/listar" routerLinkActive="active">
              Listar
            </a>
          </accordion-group>
        </accordion>
      </li>   
      <hr class="pa-0 my-0"/>        
    </ul>
  </div>
</nav>
 