<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb bg-light mt-4 ps-3 align-items-center" style="height: 40px;">
    <li class="breadcrumb-item"><a routerLink="/listar" routerLinkActive="active">Início</a></li>
    <li class="breadcrumb-item"><a routerLink="/listar" routerLinkActive="active">Bens</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listar</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header">
      Listagem de bens
    </div>
    <div class="card-body">
      <h5 class="card-title">Essa página está sendo construída!</h5>
      <p class="card-text">Clique no botão abaixo para cadastrar um bem.</p>
      <a routerLink="/cadastrar" routerLinkActive="active" class="btn btn-primary">Cadastro</a>
    </div>
  </div>